#root {
  margin: 0 auto;
  max-width: 1220px;
  padding: 2rem;
}

.align-items-center {
  align-items: center;
}

button { 
  font-weight: 700 !important;
}

.brown {
  color: #f4a460;
}

.d-flex {
  display: flex;
}

.fw-light {
  font-weight: 300;
}

.gap-1 {
  gap: .63rem;
}

.gap-2 {
  gap: 1rem;
}

.glow, .logo-xs img:hover {
  filter: drop-shadow(0 0 5px yellow);
}

.justify-content-end {
  justify-content: end;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-spin {
  animation: spin infinite 5.3s linear;
}

.logo-xs img {
  cursor: pointer;
  height: 1.5rem;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: .82rem;
}

.opacity-25 {
  opacity: 25%;
}

.opacity-50 {
  opacity: 50%;
}

.pe-2 {
  padding-right: 1rem;
}

.text-end {
  text-align: end;
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}