#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.fw-light {
  font-weight: 300;
}

.gap-1 {
  gap: .63rem;
}

.gap-2 {
  gap: 1rem;
}

.brown {
  color: #f4a460;
}

.justify-content-end {
  justify-content: end;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-spin {
  animation: logo-spin infinite 5.3s linear;
}

.logo-xs img {
  cursor: pointer;
  height: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .55rem;
}

.m-0 {
  margin: 0;
}

.opacity-25 {
  opacity: 25%;
}

.opacity-50 {
  opacity: 50%;
}

.pe-2 {
  padding-right: 1rem;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
